/* add query for more than 560px */
@media screen and (min-width: 560px) {
  .hero-content-anim{
        opacity: 0;
        transform: translateY(20px);
    }

    .hero-img-anim{
      opacity: 0;
    }

    .hr-line{
      opacity: 0;
    }

    .sec-title-anim{
      opacity: 0;
      transform: translateY(20px);
    }

    .staggering{
      opacity: 0;
      transform: translateY(3px);
    }

    .cat-img-anim{
      opacity: 0;
    }

    .cat-content-anim{
      opacity: 0;
      transform: translateY(10px);
    }
}
